 //COLORS

 $white: #FFFFFF;
 $off-white: #FCFCFC;
 $off-white1: #EFEFEF;
 $light-gray: #98A2B080;
 $light-gray1: #B3BCC9;
 $dark-gray:#98A2B0  ;
 $light-blue: #DBEBFF ;
 $light-blue1: #05377B61 ;
 $navy-blue: #203442;
 $navy-blue-light: #63748D;
 $navy-blue-dark: #05377B;
 $theme-blue:#3041A7 ;


 
 //SIZES
 $font-10: 10px;
 $font-11: 11px;
 $font-12: 12px;
 $font-14: 14px;
 $font-15: 15px;
 $font-16: 16px;
 $font-18: 18px;
 $font-20: 20px;
 $font-22: 22px;
 $font-23: 23px;
 $font-24: 24px;
 $font-26: 26px;
 $font-28: 28px;
 $font-30: 30px;
 $font-32: 32px;
 $font-34: 34px;
 $font-36: 36px;
 $font-38: 38px;

 
 //FONT FAMILIES
 
 $font-regular: "robotoregular", Helvetica, sans-serif;
 $font-midium:  "robotomedium", Helvetica, sans-serif;
 $font-bold:    "robotobold", Helvetica, sans-serif;
 $font-condensedbold: "roboto_condensedbold", Helvetica, sans-serif;
 $font-italic: "robotoitalic", Helvetica, sans-serif;


 //BREAKPOINTS

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-Xlg: 1200px;